.App {
  width: 100vw;
}

.table {
  // display: grid;
  // grid-template-columns: repeat(18, auto) 1fr;
  // grid-template-rows: repeat(9, auto) 1fr;
  width: 90vw;
  max-width: 100%;
  margin: 0 auto;



  .top {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    width: 90vw;
    margin-bottom: 2vw;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 75vw;
    margin: auto;
  }
}

.element {
  display: grid;
  grid-template-rows: 10% 75% 15%;

  width: 5vw;
  height: 5vw;
  margin: 0.1vw;
  border-radius: 0.5vw;

  // outline: 0.1vw solid;
  // box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw black inset;

  h5 {
    font-size: 0.7vw;
    text-align: right;
    margin: 0.5vw 0.3vw 0 0;
  }

  h2 {
    font-size: 2.4vw;
    margin: 0.8vw 0 0 0.3vw;
  }

  label {
    font-size: 0.6vw;
    margin: 0 0 0 0.3vw;
    line-height: 0;
  }

}

.element-2 {
  grid-column-start: -2;
}

.element-5, .element-13 {
  grid-column-start: 13;
}

.element-119 {
  background-color: gray;

}


.element-56 {
  // display: inline;
  width: 5vw;
  height: 5vw;
  // position: relative;
}

// .element-56::after {
//   content: "57-71";
//   font-size: 2vw;
//   margin: 0.2vw;
//   display: inline-block;
//   width: 5vw;
//   height: 5vw;
//   background-color: pink;
//   left: 2vw;
//   top: -5vw;
//   grid-column-start: 3;
//   // grid-row-start: 6;
// }

// .element-72 {
//   grid-column: 4/5;
//   grid-row: 6/7;
// }

// .element-37 {
//   grid-column-start: 1;
//   grid-row-start: 5;
// }
//
// .element-38 {
//   grid-column-start: 2;
//   grid-row-start: 5;
// }
//
// .element-48 {
//   grid-column-start: 12;
//   grid-row-start: 5;
// }
//
.element-88 {
  grid-column-start: 2;
  grid-row-start: 7;
}



// COLOR CODING
$red: #FF5252;
$orange: #FF9800;
$yellow: #FFEB3B;
$lightblue: #2196F3;
$teal: #009688;
$purple: #9C27B0;
$green: #4CAF50;
$cyan: #00BCD4;
$indigo: #00BCD4;
$lime: #CDDC39;


.lanthanide {
  background-color: $lime;
}

.actinide {
  background-color: $indigo;
}

.alkalineearthmetal {
  background-color: $yellow;
}

.transitionmetal {
  background-color: $lightblue;
}

.post-transitionmetal {
  background-color: $purple;
}

.noblegas {
  background-color: $teal;
}

.diatomicnonmetal {
  background-color: $orange;
}

.metalloid {
  background-color: $cyan;
}

.polyatomicnonmetal {
  background-color: $green;
}

.alkalimetal {
  background-color: $red;
}
