@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Open+Sans:300,400,700&display=swap');

$josefin: 'Josefin Sans', sans-serif;
$opensans: 'Open Sans', sans-serif;


body {
  background-image: linear-gradient(135deg, #d9d9d9, white);
}

.App {
  width: 100vw;

  h2 {
    margin: 5vw 0 1vw 5vw;
    font-family: $josefin;
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1em;
  }

  .element-profile {
    font-family: $opensans;

    h2 {
      font-size: 2em;
    }

    span {
      font-size: 1em;
      font-weight: 600;
    }
  }

}


.table {
  width: 90vw;
  max-width: 100%;
  margin: 0 auto;


  .top {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    width: 90vw;
    margin-bottom: 2vw;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 75vw;
    margin: auto auto 5vw auto;
  }
}


.element {
  display: grid;
  grid-template-rows: 25% 55% 20%;

  width: 4.5vw;
  height: 4.5vw;
  margin: 0.15vw;
  border-radius: 0.5vw;

  box-shadow: 0 0.15vw 0.15vw 0.15vw #a8a8a8;
  // -webkit-box-shadow: inset 0 0 0 0.1vw gray;


  h5 {
    font-family: $opensans;
    font-size: 0.7vw;
    text-align: right;
    margin: 0.5vw 0.3vw 0 0;
    // pointer-events: none;
  }

  h2 {
    font-family: $josefin;
    font-size: 2vw;
    margin: 0.7vw 0 0 0.3vw;
    // pointer-events: none;
  }

  label {
    font-family: $opensans;
    font-size: 0.5vw;
    margin: 0 0 0 0.3vw;
    // pointer-events: none;
  }

}

.element-2 {
  grid-column-start: -2;
}

.element-5, .element-13 {
  grid-column-start: 13;
}

// .element:hover {
//   background-color: #d9d9d9;
//   box-shadow: 0 0.15vw 0.15vw 0.15vw #787878;
// }
//
// .element-57-71:hover, .element-89-103:hover {
//   background-color: white;
// }

// .element:focus {
//   background-color: red;
// }


// COLOR CODING
$red: #FF5252;
$orange: #FF9800;
$yellow: #FFEB3B;
$lightblue: #2196F3;
$teal: #009688;
$purple: #9C27B0;
$green: #4CAF50;
$cyan: #00BCD4;
$indigo: #00BCD4;
$lime: #CDDC39;


.lanthanide {
  background-color: $lime;
}

.actinide {
  background-color: $indigo;
}

.alkalineearthmetal {
  background-color: $yellow;
}

.transitionmetal {
  background-color: $lightblue;
}

.post-transitionmetal {
  background-color: $purple;
}

.noblegas {
  background-color: $teal;
}

.diatomicnonmetal {
  background-color: $orange;
}

.metalloid {
  background-color: $cyan;
}

.polyatomicnonmetal {
  background-color: $green;
}

.alkalimetal {
  background-color: $red;
}
